@import "@/app/styles/utils/vars";

.wrapper {
	width: 100%;

	margin-top: 350px;
	margin-bottom: 75px;
}

.title {
	font-size: 72px;
	color: $white;
	font-weight: 700;
}

.content {
	width: 100%;

	margin-top: 50px;
	background-color: $white;
	border: 1px solid $grayC4;
	box-shadow: $shadow-light;
}

.content-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding-left: 80px;
	padding-right: 80px;
	padding-top: 63px;
	padding-bottom: 52px;
}
