@import "@/app/styles/utils/vars";

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-left: 145px;

	&:first-child {
		margin-left: 0px;
	}
}

.img {
	width: 155px;
	height: 155px;
}

.text {
	max-width: 180px;
	width: 100%;

	margin-top: 15px;

	color: $dark;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	text-transform: lowercase;
}

.accent {
	font-weight: 700;
}
