@import "@/app/styles/utils/vars";

.link {
	max-width: 325px;
	width: 100%;

	font-size: 24px;
	font-weight: 700;
	text-align: center;
	line-height: 60px;
	color: $white;

	border-radius: 5px;
	border: 1px solid $white;

	background-color: transparent;

	transition: all 0.3s;

	&:hover {
		background-color: $white;
		color: $dark41;
	}
}
