$white: #ffffff;
$ligth-gray: #e5e5e5;
$textprompt-bg: #f5f4f6;
$gold: #ffca62;
$grayC4: #c4c4c4;
$white-light-gray: #f4f2f6;
$orange-active-color: #ffa800;
$gray: #918f94;
$light-orange: #fdb935;
$light-gold: #fcdc9d;
$dark: #292929;
$dark2f: #2d2b2f;
$dark41: #3e3c41;
$shadow: 0px 4px 4px 0px #00000040;
$shadow-light: 0px 2px 2px 0px #00000040;
