$white: #ffffff;
$ligth-gray: #e5e5e5;
$textprompt-bg: #f5f4f6;
$gold: #ffca62;
$white-icon: #f4f2f6;
$orange-active-color: #ffa800;
$gray: #918f94;
$light-orange: #fdb935;
$light-gold: #fcdc9d;
$dark: #292929;
$bg-dark: #3e3c41;
$shadow: 0px 4px 4px 0px #00000040;
