@import "@/app/styles/utils/vars";

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	width: 100%;

	padding-top: 30px;
	padding-bottom: 33px;
}

.span {
	color: $ligth-gray;
	font-size: 24px;
	font-weight: 300;
}
