@import "@/app/styles/utils/vars";

.img {
	width: 205px;
	height: 205px;

	border-radius: 50%;
}

.wrapper {
	display: flex;
	align-items: center;
}

.content-text {
	margin-left: 35px;
	max-width: 400px;
	width: 100%;
}

.title {
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	color: $dark;
}

.text {
	position: relative;

	display: block;

	margin-top: 30px;

	font-size: 18px;
	font-weight: 300;
	font-style: italic;

	quotes: "“" "„";

	&::before {
		content: open-quote;
		position: absolute;
		font-size: 36px;
		color: $gray;
		height: 10px;
		line-height: 0;
		top: 0;
		left: 0;
		transform: translate(-100%, 60%);
	}

	&::after {
		content: close-quote;
		display: inline-block;
		font-size: 36px;
		line-height: 0;
		height: 10px;
		color: $gray;
		transform: translate(50%, 100%);
	}
}
